[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = "*"
pymongo = "*"
google-cloud-bigquery = "*"
google-api-python-client = "*"
pandas = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.11"
